.login-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background 0.5s ease-in-out;
}

.light-mode {
  background: linear-gradient(67deg, rgba(255,255,255,1) 0%, rgba(251,196,3,1) 100%);
}

.dark-mode {
  background: linear-gradient(67deg, rgba(0,0,0,1) 0%, rgba(251,196,3,1) 100%);

}
