/* Aseguramos que todos los elementos calculen correctamente su tamaño */
* {
    box-sizing: border-box;
  }
  
  .card {
      display: flex; 
      flex-direction: column; 
      border-radius: 17px;
      width: 100%;
      max-width: 250px; 
      height: 350px;
      box-shadow: 4px 17px 13px 9px rgba(0, 0, 0, 0.2);
      overflow: hidden; 
      margin: 0 auto;
      text-align: center;
  }
  

  .card-body {
      background-color: #fffcfc;
  }
  
  .card-title {
      color: #fbc403;
      font-weight: bold;
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
  }
  
  .card-text {
      line-height: 1.4;
      font-size: 14px;
      color: #000;
  }
  
  @media screen and (max-width: 480px) {
    .card {
      max-width: 90%; 
      height: auto; 
      margin: 0 auto;
    }
    
    .card-body {
      padding: 8px;
    }
    
    .card-title {
      font-size: 18px;
    }
    
    .card-text {
      font-size: 12px;
    }
  }
  